<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:ng="http://angularjs.org"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>读易经</title>
    <meta name="description" content="学习易经,传承中华文化. 最全的在线快速查阅易经的卦辞,象辞和爻辞. 六十四卦原文内容阅读,查询.">
    <meta name="keywords" content="duyijing,yijing,ichang,十翼,周易,易经,读易经,六十四卦">
    <meta name="author" content="HaishengWu,Freizl">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://duyijing.cn/" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="styles/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-tour/build/css/bootstrap-tour.css" />
    <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" /> -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body ng-app="yijing" id="ng-app">
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--[if lt IE 9]>
      <script>
        document.createElement('gua');
        document.createElement('gua-simple');
      </script>
    <![endif]-->

    <!-- ngTemplates -->
    <script type="text/ng-template" id="gua.html">
      <div>
        <div class="col-sm-3 gua {{guaSize}}">
          <label ng-class="vo.name.length === 1 ? 'name' : 'name2'" ng-click="guaClick()">{{vo.name}}</label>
          <span ng-repeat="item in items"
                class="{{item.clazz}}"
                ng-click="yaoClick(5-$index)"
                >
          </span>
        </div>
        <div class="col-sm-7 explanation">
          <section name="guaCi" ng-show="showGuaInfo">
            <label>卦辞</label>
            <p>{{vo.guaCi}}</p>
          </section>
          <section name="daXiang" ng-show="showGuaInfo">
            <label>大象</label>
            <p>{{vo.daXiang}}</p>
          </section>
          <section name="tuanCi" ng-show="showGuaInfo">
            <label>彖辞</label>
            <p>{{vo.tuanCi}}</p>
          </section>
          <section name="yaoCi" ng-show="!showGuaInfo">
            <label>爻辞</label>
            <p>{{vo.yaoCi}}</p>
          </section>
          <section name="xiaoXiang" ng-show="!showGuaInfo">
            <label>小象</label>
            <p>{{vo.xiaoXiang}}</p>
          </section>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="gua-simple.html">
      <a ng-href="{{ vo.urlPath }}" class="gua-simple" title="{{ vo.title }}">
          <section class="gua {{guaSize}}">
              <label ng-class="vo.labelStyle" >{{vo.name}}</label>
              <span ng-repeat="item in vo.items"
                    class="{{item.clazz}}" >
              </span>
          </section>
      </a>
    </script>
    <!-- ngTemplates -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand yin-yang small" href="#!">易經</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="navs">
                <li ng-repeat="item in navs" class="{{item.clazz}}">
                    <a ng-href="{{item.url}}" ng-bind="item.title" title="item.title"></a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-question-sign help-tour" style="font-size:20px;margin-top:10px;cursor:pointer;" aria-hidden="true"></span>
                </li>
            </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Add your site or application content here -->
    <div class="container">
        <i class="loading" ng-show="loading"></i>
        <div id="view" ng-view>
        </div>

        <hr/>
        <footer class="footer">
            <p>
              <span>© 2012-present HaishengWu </span>
              <a rel="nofollow noopener" href="https://github.com/js-fun/yijing" target="_blank" title="github">Github</a>
              <span> | </span>
              <a href="http://ctext.org/zh" target="_blank" rel="nofollow">中國哲學書電子化計劃</a>
            </p>
        </footer>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/bootstrap-tour/build/js/bootstrap-tour-standalone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/datas.js -->
    <script src="scripts/data/data_zh-tw.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/tour.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/directives/gua.js"></script>
        <script src="scripts/services/gua.js"></script>
        <script src="scripts/controllers/gua.js"></script>
        <script src="scripts/controllers/doc.js"></script>
        <!-- endbuild -->
</body>
</html>
