<div class="gua-container">

    <h1>{{guas.base.name}}卦</h1>
    <h2 class="hide">主卦</h2>
    <div class="row" id="zhu-gua">
        <div class="col-sm-10 col-sm-offset-2">
            <gua gua-size="large" gua-key="{{guas.base.key}}" ng-show="baseKey"></gua>
        </div>
    </div>

    <div ng-repeat="item in guas.xs ">

        <h3><a ng-href="{{item.url}}">{{item.displayName}}</a></h3>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-2">
                <gua gua-size="large" gua-key="{{item.key}}" ng-show="baseKey"></gua>
            </div>
        </div>
    </div>

</div>
